DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.REGION.aws.neon.tech/DB_NAME?sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://USER:PASSWORD@HOST.REGION.aws.neon.tech/DB_NAME?sslmode=require"

# Custom Auth
JWT_SECRET="<32+ character random secret>"
BCRYPT_PEPPER="<random pepper string appended to passwords before hashing>"
